.wrapper {
    margin: 0 auto;
    height: 500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.search-bar {
    flex: 10%;
    background-color: red;
}
.forecast-now {
    flex: 45%;
    display: flex;
    flex-direction: row;
}
.forecast-week {
    flex: 45%;
    background-color: rgb(225, 222, 220);
}

.icon-now {
    flex: 35%;
    background-color: rgb(177, 203, 30);
}
.data-now {
    flex: 65%;
    display: flex;
    flex-direction: column;
}

.city-details {
    flex: 0.5;
    display: flex;
    flex-direction: row;
}
.searched-city {
    flex: 0.6;
    background-color: rgb(30, 30, 159);
}
.sun-city {
    flex: 0.4;
    background-color: rgb(163, 213, 81);
}

.weather-details {
    flex: 0.5;
    display: flex;
    flex-direction: row;
}
.temp {
    flex: 0.5;
    background-color: rgb(176, 183, 132);
}
.wind-hum-vis {
    flex: 0.5;
    background-color: rgb(201, 123, 44);
}
