body {
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

h1 {
    display: inline;
    font-size: 30px;
    color: #000000;
}
li {
    list-style: none;
}
li:first-letter {
    text-transform: capitalize;
}

col {
    text-align: center;
}
ul.upcoming {
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
ul {
    padding-left: 2px;
}

.weather-today-icon {
    display: block;
    margin: 0 auto;
    width: 150px;
}
/* .search-list {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
} */
.units {
    position: relative;
    bottom: 14px;
    padding-left: 5px;
    margin-right: 20px;
}
.fa-solid.fa-cloud-sun.weather-now {
    top: 40px;
    color: rgb(129, 129, 129);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.container {
    margin: 50px;
}
.card.wrapper {
    margin: 10px auto;
    padding: 30px 50px 50px 50px;
    width: 600px;
    height: fit-content;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 30px;
}

.fa-solid.fa-cloud-sun.day-after {
    color: rgb(95, 95, 95);
}
/* .form-check-label {
    position: relative;
    top: 8px;
    left: 3px;
} */
.form-check-input:checked {
    background-color: rgb(244, 244, 244);
    border-color: rgb(149, 149, 149);
}
#forecast {
    margin-top: 30px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    /* background: rgba(243, 243, 243, 0.279); */
}

.atmosphere {
    margin-top: 20px;
}

.upcoming-days {
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
/* .temperature {
} */

.fa-brands.fa-github {
    color: rgb(57, 57, 57);
    font-size: 20px;
}
.credits {
    text-align: center;
    margin: 0 auto;
}

.col-12 .active {
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: default;
}

.col-12 .active:hover {
    text-decoration: none;
}

.col-12 .inactive {
    color: rgb(197, 197, 197);
    cursor: default;
}
.col-12 .inactive:hover {
    cursor: pointer;
}

.form-control {
    display: inline-block;
    width: 80%;
}
.temp-now {
    font-weight: bold;
}
