body {
    font-family: "Lato", sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}
button {
    border: 1px solid rgb(106, 133, 50);
}
li {
    list-style: none;
}
li:first-letter {
    text-transform: capitalize;
}
col {
    text-align: center;
}
ul.upcoming {
    padding-left: 0;
}
.search-list {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
}
.time-switch {
    display: inline-block;
    margin-right: 20px;
}
.fa-solid.fa-cloud-sun.weather-now {
    top: 40px;
    color: rgb(129, 129, 129);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.container {
    margin: 50px;
}
.card.wrapper {
    margin: 10px auto;
    padding: 30px 50px 50px 50px;
    min-width: 800px;
    max-width: 500px;
    border: 2px solid rgb(154, 154, 154);
    border-radius: 80px;
}
.card.upcoming {
    margin-top: 40px;
    border: 2px solid rgb(154, 154, 154);
    background: rgba(228, 228, 228, 0.279);
    border-radius: 50px;
}

.fa-solid.fa-cloud-sun.day-after {
    color: rgb(95, 95, 95);
}
.form-check-label {
    position: relative;
    top: 8px;
    left: 3px;
}
.form-check-input:checked {
    background-color: rgb(149, 149, 149);
    border-color: rgb(149, 149, 149);
}
.row.forecast {
    padding: 30px;
}
.atmosphere {
    margin-top: 20px;
}

.upcoming {
    text-align: center;
    line-height: 60px;
}
.upcoming-days {
    font-weight: bold;
}
/* .temperature {
} */

.fa-brands.fa-github {
    color: rgb(57, 57, 57);
    font-size: 20px;
}
.credits {
    text-align: center;
    margin: 0 auto;
}
